body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg,rgba(23, 47, 227, 1) 0%, 
              rgba(87, 89, 199, 1) 50%, 
              rgba(49, 77, 153, 1) 98%, 
              rgb(37, 22, 71) 150%);
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: antiquewhite;
    background-color: rgb(55, 55, 175);
    border-radius: 10px;
}

.container {
    width: 800px;      
    padding: 50px;      
    border-radius: 10px;       
    border-radius: 10px;
    background-color: rgb(26, 26, 122);
    color: antiquewhite;
    text-align: center;
    justify-content: space-around;
    border-radius: 10px;
}

#senha {
    width: 300px;
    height: 40px;
    padding-right: 40px;
    font-size: 16px;
}
